In [62]:
import pandas as pd
import numpy as np

In [63]:
terror=pd.read_csv("terror.csv",encoding="Latin")
terror.head()

C:\Users\Administrator\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4,61,62,66,116,117,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [ ]:
list(terror)

In [64]:
#Q.1)	How many attacks happened in India?

a=len(terror.query("(country_txt=='India')"))
print("Attacks happened in India:\n",a)

Attacks happened in India:
 9940

In [ ]:
#Q.2)	How many attacks happened in India and upto 3 people were killed? 
m=len(terror.query("(nkill<=3 and country_txt=='India')"))
print("No of attacks happened in India and upto 3 people were killed:\n",m)

In [ ]:
#Q.3) Extract the city and summary for attacks above

terror.query("(nkill<=3 and country_txt=='India')")[["city","summary"]]

In [ ]:
#Q.4)	In a single terror incident in India, find out top 5 cities by number killed

terror[terror.country_txt=='India'].sort_values(by=['nkill'], ascending=False)[['city','nkill']].head(5)

In [ ]:
#Q.5)	In a single terror incident in India, find out top 5 cities by number killed and wounded 

terror[terror.country_txt=='India'].sort_values(by=['nkill'], ascending=False)[['city','nkill','nwound']].head(5)

In [ ]:
#Q.6) How many attacks were successful that were suicide attacks?
x=len(terror.query("(success==1 and suicide==1)"))
print("No of attacks were successful that were suicide attacks:\n",x)
#terror[terror.success==1 and terror.suicide==1]

In [65]:
#Q.7) label all the incidents where the number killed was more than 5 as severe. 

terror['level']=np.where(terror['nkill']>5,'severe','notsevere')
a=len(terror.query("(level=='severe')"))
print("Number killed was more than 5 as severe. \n",a)

Number killed was more than 5 as severe.
 13874

In [66]:
#Q.8) write a function to label an incident that was both successful and suicidal
def fn(id) :
    if ((terror.suicide[terror.eventid == id] == 1).tolist()[0] and 
        (terror.success[terror.eventid == id] == 1).tolist()[0]) :
        print('Yes,Exist')
    else :
        print('No,Not Exits')

In [67]:
#check the function
fn(200707070001)

Yes,Exist

In [68]:
#Q.9)	Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level of the category and all the other countries as another level

# Q.9)	Create a new category representing if the incident occured in Afghanistan, Pakistan or India 
#as one level of the category and all the other countries as another level
terror['Area']= ""
i=0 
j=0
while i<len(terror):
    if (terror.iat[i,8] == 'Afghanistan' or terror.iat[i,8]=='Pakistan'or terror.iat[i,8]=='India' ):
        terror.iat[i,138] = "Af-Pak-India"
    else:
        terror.iat[i,138] = "ROW"
    i= i + 1
terror[['eventid','country_txt','Area']].head()

        eventid         country_txt Area
0  197000000001  Dominican Republic  ROW
1  197000000002              Mexico  ROW
2  197001000001         Philippines  ROW
3  197001000002              Greece  ROW
4  197001000003               Japan  ROW

In [69]:
#Q.10)	How many incidents happened in Af-Pak-India vs ROW?
p=terror.groupby('Area').Area.count()
print("incidents happened in Af-Pak-India vs ROW:\n",p)

incidents happened in Af-Pak-India vs ROW:
 Area
Af-Pak-India     32398
ROW             124374
Name: Area, dtype: int64

In [70]:
#Q.11)	List the number of suicides attacks and average kills by Af-Pak-India vs ROW. Rename columns in the output as Average_Kills and Number_Incidents.

terror[terror.suicide==1].groupby('Area').agg({'suicide':'count','nkill':'mean'})

              suicide      nkill
Area
Af-Pak-India     1462   8.127404
ROW              3309  11.511403