In [3]:
import pandas as pd
import numpy as np

In [43]:
store=pd.read_csv("E:\data\Python\Python Assignments\DataSets\Store.csv",encoding="Latin")
store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
store.columns

In [ ]:
np.sum(pd.isna(store))

store.info()

In [111]:
#•	How many unique cities are the orders being delivered to
len(np.unique(store.City))

531

In [112]:
#•	What is the total quantity sold in the East Region?
len(store.Quantity[store.Region=="East"])

2848

In [ ]:
#•	Find the sum of the quantity sold in the East Region
store[store.Region=="East"].Quantity.sum()

In [ ]:
#•	In the south region sort the sales in decreasing orde

store[store.Region=="South"].sort_values('Sales',ascending=False)

In [ ]:
#•	Find the mean of quantity for every region
x=store.groupby('Region').Quantity.mean()
print("Mean of quantity for every region:\n",x)

In [113]:
#•	Find the mean of sales for every category

x=store.groupby('Category').Sales.mean()
print("Mean of sales for every region:\n",x)

Mean of sales for every region:
 Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

In [118]:
#•	Find the max, min, sum of sales and profit for every category
store.groupby('Category')[["Sales","Profit"]].agg({'max','min','sum'})

                       Sales                         Profit             \
                         sum    min        max          sum        min
Category
Furniture        741999.7953  1.892   4416.174   18451.2728 -1862.3124
Office Supplies  719047.0320  0.444   9892.740  122490.8008 -3701.8928
Technology       836154.0330  0.990  22638.480  145454.9481 -6599.9780


                      max
Category
Furniture        1013.127
Office Supplies  4946.370
Technology       8399.976

In [122]:
#•	Find sum of sales and max profit for every segment

store.groupby('Segment').agg({'Sales':'sum','Profit':'max'})

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

In [29]:
#•	Find sum of sales and max profit for every segment
store.groupby('Segment')[['Sales','Profit']].agg(['max','sum'])

                Sales                   Profit
                  max           sum        max          sum
Segment
Consumer     13999.96  1.161401e+06  6719.9808  134119.2092
Corporate    17499.95  7.061464e+05  8399.9760   91979.1340
Home Office  22638.48  4.296531e+05  3919.9888   60298.6785

In [ ]:
#•	For every segment find the mean of the discount

store.groupby('Segment').Discount.mean()

In [80]:
#•	For every segment find the most profitable customers

a=[store.groupby("Segment").max().Profit]
a
b=[store.Profit]
store[["Customer Name","Segment"]][np.in1d(b,a)]

[Segment
 Consumer       6719.9808
 Corporate      8399.9760
 Home Office    3919.9888
 Name: Profit, dtype: float64]

In [78]:
#•	For every segment find the most profitable customers
def get_cid(pro):
    pro = pro.max()
    return store[store.Profit == pro]['Customer Name']
group_seg = store.groupby('Segment').agg({'Profit': [get_cid,'max']})
print(group_seg)

                   Profit
                  get_cid        max
Segment
Consumer     Raymond Buch  6719.9808
Corporate    Tamara Chand  8399.9760
Home Office  Tom Ashbrook  3919.9888

In [27]:
#•	What are the top 5 categories that give maximum profit?

store.groupby('Sub-Category').Profit.max().sort_values(ascending=False).head(5)

Sub-Category
Copiers      8399.9760
Binders      4946.3700
Machines     2799.9840
Phones       1228.1787
Bookcases    1013.1270
Name: Profit, dtype: float64

In [123]:
#•	What is the Total Sales, Quantity, Discount, Profit across Total US.

#store[]
store[store.Country=="United States"][["Sales","Quantity","Discount","Profit"]].sum()

Sales       2.297201e+06
Quantity    3.787300e+04
Discount    1.561090e+03
Profit      2.863970e+05
dtype: float64

In [49]:
#•	How many times has it taken more than 5 days from placing an order to shipping


#a=pd.to_datetime(store['Ship Date']) - pd.to_datetime(store['Order Date'])

store["Ship Date"]=pd.to_datetime(store['Ship Date'])
store["Order Date"]=pd.to_datetime(store['Order Date'])
len(store[(store["Ship Date"]-store["Order Date"])>'5 days'])

1822

In [93]:
#•	Find the total number of orders in every category which has been shipped with a duration > 5 days
store["total_days"]=store["Ship Date"]-store["Order Date"]
store[store.total_days>'5 days'].groupby("Category")['Customer ID'].count()

Category
Furniture           365
Office Supplies    1131
Technology          326
Name: Customer ID, dtype: int64

In [110]:
#•	What’s the percentage of items which has been shipped within 5 days
sum=store.Quantity.sum()
sum1=store[store.total_days<'5 days'].Quantity.sum()
(sum1/sum)*100

59.93187759089589